@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus{
    outline: none;
}

body{
    width: 100%;
    background: #fafafa;
    position: relative;
    font-family: 'roboto',sans-serif;
}

.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 55px;
    background: #fff;
    border-bottom: 1px solid #dfdfdf;
    display: flex;
    justify-content: center;
    padding: 5px 0;
    z-index: 999;
}
.nav-wrapper{
    width: 70%;
    max-width: 1000px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand-img{
    height: 100%;
    margin-top: 5px;
}
.search-box{
    display: flex;
    width: 250px;
    /* height: 25px; */
    gap: .4rem;
    border-radius: 6px;
    background-color: #efefef;
    padding: .3rem .3rem;
    margin-right: -4rem;
}
.search-box input{
    border: none;
    width: 90%;
    background-color: #efefef;
    overflow: hidden;
    color: #8e8e8e;
    font-weight: 400;
    font-size: 1rem;
}
.search-box img{
    width: 10%;
}



.nav-items{
    height: 22px;
    position: relative;
} 

.icon{
    height: 100%;
    cursor: pointer;
    margin: 0 10px;
    display: inline-block;
}

.user-profile{
    width: 22px;
    border-radius: 50%;
    background-image: url("https://scontent.fdel3-2.fna.fbcdn.net/v/t39.30808-6/271703508_631718638044109_8430706525820817084_n.jpg?stp=dst-jpg_p526x296&_nc_cat=105&ccb=1-6&_nc_sid=e3f864&_nc_ohc=1wbdkNFNVM0AX9iyQW5&_nc_ht=scontent.fdel3-2.fna&oh=00_AT-afIFP7FkIHpYskLVMR0qFeqx49aF8YLCFr7GSMmG0Xg&oe=6286DE8E");
    background-size: cover;
    margin-bottom: -6px;
}
.main{
    width: 100%;
    padding: 40px 0;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.wrapper{
    width: 70%;
    max-width: 1000px;
    display: grid;
    grid-template-columns: 60% 40%;
    gap: 30px;
}

.left-col{
    display: flex;
    flex-direction: column;
}

.status-wrapper{
    width: 100%;
    height: 120px;
    background: #fff;
    border: 1px solid #dfdfdf;
    border-radius: 2px;
    padding: 10px;
    padding-right: 0;
    display: flex;
    align-items: center;
    overflow: hidden;
    overflow-x: auto;
}
.status-wrapper::-webkit-scrollbar{
    display: none;
}

.status-card{
    flex: 0 0 auto;
    width: 80px;
    max-width: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 15px;
    cursor: pointer;
}

.profile-pic{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    padding: 3px;
    background: linear-gradient(45deg,rgb(255,230,0),rgb(255,0,128) 80%);
}

.profile-pic img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #fff;
}
.username{
    width: 100%;
    overflow: hidden;
    text-align: center;
    font-size: 12px;
    margin-top: 5px;
    color: rgba(0,0,0,0.5);
}

.post{
    width: 100%;
    height: auto;
    background-color: #fff;
    border: 1px solid #dfdfdf;
    margin-top: 40px;
}
.info{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.info .username{
    width: auto;
    font-weight: bold;
    color: #000;
    font-size: 14px;
    margin-left: 10px;
}

.info .options{
    height: 10px;
    cursor: pointer;
}

.info .user{
    display: flex;
    align-items: center;
}
.info .profile-pic{
    height: 40px;
    width: 40px;
    padding: 2px;
    /* background: none; */
}

.info .profile-pic img{
    border: none;
    cursor: pointer;
}

.post-image{
    width: 100%;
    height: 500px;
    object-fit: cover;

}

.post-content{
    width: 100%;
    padding: 20px;
}

.likes{
    font-weight: bold;
}

.description{
    margin:10px 0;
    font-size: 14px;
    line-height: 20px;
}
.description span{
    font-weight: bold;
    margin-right: 10px;
}

.post-time{
    font-size: 12px;
    color: rgba(0,0 ,0 ,0.5 );
}

.comment-wrapper{
    width: 100%;
    height: 50px;
    border: 1px solid #dfdfdf;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.comment-wrapper .icon{
    height: 30px;
}

.comment-box{
    width: 80%;
    height: 100%;   
    border: none;
    outline: none;
    font-size: 14px;
}
.action-btn,
.comment-btn{
    width: 70px;
    height: 100%;
    background: none;
    border: none;
    outline: none;
    text-transform: capitalize;
    font-size: 16px;
    color: rgb(0,162,255);
    opacity: 0.5;
}
.reaction-wrapper{
    width: 100%;
    height: 50px;
    display: flex;
    margin-top: -7px;
    align-items: center;
}
.reaction-wrapper .icon{
    height: 25px;
    margin: 0;
    margin-right: 20px;
}

.reaction-wrapper .icon.save{
    margin-left: auto;
}
.right-col{
    padding: 20px;
    position: fixed;
}

.profile-card{
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.profile-card .profile-pic{
    flex:  0 0 auto;
    padding: 0;
    background: none;
    width: 40px;
    height: 40px;
    margin-right: 10%;
}

.profile-card:first-child .profile-pic{
    width: 70px;
    height: 70px;
}

.profile-card .profile-pic img{
    border: none;
    cursor: pointer;
}

.profile-card .username{
    font-weight: 500;
    font-size: 14px;
    color: #000;
    cursor: pointer;
}
.sub-text{
    color: rgba(0,0,0,0.5);
    font-size: 12px;
    font-weight: 500;
    margin-top: 4px;
}

.action-btn{
    opacity: 1;
    font-weight: 700;
    font-size: 12px;
    margin-left: 20px;
    cursor: pointer;
}
.suggestion-text{
    font-size: 14px;
    color: rgba(0,0 ,0 ,0.5 );
    font-weight: 700;
    margin: 20px 0; 
}

@media (max-width:1100px) {
    .right-col,.search-box{
        display: none;
    }
    .nav-wrapper,.wrapper{
        width: 90%;
    }
    .wrapper{
        display: block;
    }
}
@media(max-width:500px){
    .nav-items .icon{
        margin: -5px 5px;
    }
    .post-image{
        height: 300px;
    }
}

.post-comments{
    font-size: 16px;
    color: rgba(0,0 ,0 ,0.5 );
}




img {
    vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}


  
.carousel-indicators {
    position: absolute;
    right: 0;
    left: 0;
    z-index: 15;
    justify-content: center;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 15%;
    list-style: none;
    top: 102%;
    background-color: black;
}


.carousel-indicators .active {
    background-color: #3996f6;
    }
.carousel-indicators li {
    width: 6px;
    height: 6px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    background-color: rgba(255,255,255,.5);
    border-radius: 50%;
    background-color: #a8a8a8;
}

.profile-card p{
    margin-bottom: 0 !important;
}

.forFixed{
    position: relative;
}

.footer{
    display: flex;
    flex-direction: column;
}
.footer2 ul,
.footer1 ul{
    display: flex;
    list-style: none;
    gap: .4rem;
    font-size: .8rem;
    margin-bottom: .3rem !important;
    color: #cfcfcf;
}

.footer1 ul li,
.footer2 ul li{
    cursor: pointer;
}

.footertext{
    font-size: .8rem;
    color: #cfcfcf;
}